.cite{
    margin:200px 100px 0px 100px;;
}

.cite0 img{
    margin:auto;
    position:relative;
    height:860px;
    width:1300px;
    border-radius:28.47px;
    overflow:hidden;
}

.cite1{
    position:relative;
    top:-1000px;
    left:570px;
    background:white;
    display:flex;
    flex-direction:column;
    padding: 50px 0px 50px 50px;
    width:650px;
    gap: 24px;
    border-radius: 30px;
    border:1px solid green;
   
}
.head1{
    width: 600px;
    height: 73px;
}
.head1 h2{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: left;
    
    
}
.paragraph0{
    height:210px;
    width:600px
}

.paragraph0 p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}

.cite2{
    position:relative;
    top:-750px;
    left:40px;
    background:white;
    display:flex;
    flex-direction:column;
    padding: 50px 0px 0px 50px;
    width:640px;
    height:452px;
    gap: 24px;
    border-radius: 30px;
    border:1px solid green;
   
}
.head2{
    width: 338px;
    height: 39px;
}
.head2 h2{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: left;
    
    
}
.paragraph1{
    height:210px;
    width:540px
}

.paragraph1 p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

}
.photo{
    
    width: 167px;
    height: 55px;

}
.cardd{
    width: 153px;
    padding: 15px;
    gap: 10px;
    border: 2px solid #003080;
    opacity: 0px;
    color:#003080

}
.cardd:hover{
    background: #003080;
    color:white;
}
