.new-container{
    height:120px;
    width:120px;
    background:white;
    margin:auto;
}
.new{
    background-image:url('../Img/p.png');
    greyscale:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:40px;
}

.new {
    position: relative;
    overflow: hidden;
}

.new::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../Img/p.png');
    background-size: cover;
    background-position: center;
    filter:grayscale(1) brightness(0.6) sepia(1) hue-rotate(180deg) saturate(2);; 
    opacity: .4;
    z-index: 1;
}

.new > * {
    position: relative;
    z-index: 2;
}


.ATOOK{
    color:#FFE600;
    font-family: Montserrat;
    font-size: 36.4px;
    font-weight: 700;
    line-height: 36.4px;
    margin:auto;
}
.TOOK{
    height:150px;
    width:1260px;
    margin:auto;
    color:white;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;  

}

.new-container3{
    width: 122px;
    height: 24px;
    gap: 8px;
    margin:auto;
    color:white;
    cursor:pointer;
}
